#our requirements for the project
langchain
langchain_core
langchain-openai
langchain-llms
langchain-agents
langchain-chains
langchain-anthoropic
langchain-prompts-templates
langraph-sdk
langchain-mcp-adapters
openai
Anthropic
